@-webkit-keyframes fall {
	0% {
		opacity: 0.9;
		top: 0
	}
	100% {
		opacity: 0.2;
		top: 100%
	}
}

@keyframes fall {
	0% {
		opacity: 0.9;
		top: 0
	}
	100% {
		opacity: 0.2;
		top: 100%
	}
}

@-webkit-keyframes blow-soft-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -50%
	}
}

@keyframes blow-soft-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -50%
	}
}

@-webkit-keyframes blow-medium-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -100%
	}
}

@keyframes blow-medium-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -100%
	}
}

@-webkit-keyframes blow-soft-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 50%
	}
}

@keyframes blow-soft-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 50%
	}
}

@-webkit-keyframes blow-medium-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 100%
	}
}

@keyframes blow-medium-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 100%
	}
}

@-webkit-keyframes sway-0 {
	0% {
		-webkit-transform: rotate(-5deg)
	}
	40% {
		-webkit-transform: rotate(28deg)
	}
	100% {
		-webkit-transform: rotate(3deg)
	}
}

@keyframes sway-0 {
	0% {
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg)
	}
	40% {
		-ms-transform: rotate(28deg);
		transform: rotate(28deg)
	}
	100% {
		-ms-transform: rotate(3deg);
		transform: rotate(3deg)
	}
}

@-webkit-keyframes sway-1 {
	0% {
		-webkit-transform: rotate(10deg)
	}
	40% {
		-webkit-transform: rotate(43deg)
	}
	100% {
		-webkit-transform: rotate(15deg)
	}
}

@keyframes sway-1 {
	0% {
		-ms-transform: rotate(10deg);
		transform: rotate(10deg)
	}
	40% {
		-ms-transform: rotate(43deg);
		transform: rotate(43deg)
	}
	100% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg)
	}
}

@-webkit-keyframes sway-2 {
	0% {
		-webkit-transform: rotate(15deg)
	}
	40% {
		-webkit-transform: rotate(56deg)
	}
	100% {
		-webkit-transform: rotate(22deg)
	}
}

@keyframes sway-2 {
	0% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg)
	}
	40% {
		-ms-transform: rotate(56deg);
		transform: rotate(56deg)
	}
	100% {
		-ms-transform: rotate(22deg);
		transform: rotate(22deg)
	}
}

@-webkit-keyframes sway-3 {
	0% {
		-webkit-transform: rotate(25deg)
	}
	40% {
		-webkit-transform: rotate(74deg)
	}
	100% {
		-webkit-transform: rotate(37deg)
	}
}

@keyframes sway-3 {
	0% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg)
	}
	40% {
		-ms-transform: rotate(74deg);
		transform: rotate(74deg)
	}
	100% {
		-ms-transform: rotate(37deg);
		transform: rotate(37deg)
	}
}

@-webkit-keyframes sway-4 {
	0% {
		-webkit-transform: rotate(40deg)
	}
	40% {
		-webkit-transform: rotate(68deg)
	}
	100% {
		-webkit-transform: rotate(25deg)
	}
}

@keyframes sway-4 {
	0% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg)
	}
	40% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg)
	}
	100% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg)
	}
}

@-webkit-keyframes sway-5 {
	0% {
		-webkit-transform: rotate(50deg)
	}
	40% {
		-webkit-transform: rotate(78deg)
	}
	100% {
		-webkit-transform: rotate(40deg)
	}
}

@keyframes sway-5 {
	0% {
		-ms-transform: rotate(50deg);
		transform: rotate(50deg)
	}
	40% {
		-ms-transform: rotate(78deg);
		transform: rotate(78deg)
	}
	100% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg)
	}
}

@-webkit-keyframes sway-6 {
	0% {
		-webkit-transform: rotate(65deg)
	}
	40% {
		-webkit-transform: rotate(92deg)
	}
	100% {
		-webkit-transform: rotate(58deg)
	}
}

@keyframes sway-6 {
	0% {
		-ms-transform: rotate(65deg);
		transform: rotate(65deg)
	}
	40% {
		-ms-transform: rotate(92deg);
		transform: rotate(92deg)
	}
	100% {
		-ms-transform: rotate(58deg);
		transform: rotate(58deg)
	}
}

@-webkit-keyframes sway-7 {
	0% {
		-webkit-transform: rotate(72deg)
	}
	40% {
		-webkit-transform: rotate(118deg)
	}
	100% {
		-webkit-transform: rotate(68deg)
	}
}

@keyframes sway-7 {
	0% {
		-ms-transform: rotate(72deg);
		transform: rotate(72deg)
	}
	40% {
		-ms-transform: rotate(118deg);
		transform: rotate(118deg)
	}
	100% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg)
	}
}

@-webkit-keyframes sway-8 {
	0% {
		-webkit-transform: rotate(94deg)
	}
	40% {
		-webkit-transform: rotate(136deg)
	}
	100% {
		-webkit-transform: rotate(82deg)
	}
}

@keyframes sway-8 {
	0% {
		-ms-transform: rotate(94deg);
		transform: rotate(94deg)
	}
	40% {
		-ms-transform: rotate(136deg);
		transform: rotate(136deg)
	}
	100% {
		-ms-transform: rotate(82deg);
		transform: rotate(82deg)
	}
}

.sakura {
	/* background: -webkit-linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));*/
	background: rgb(156, 103, 151);
	pointer-events: none;
	position: absolute
}

/* .sakura {
	background: #674ea7;
} */


/*******************************/

body {
	font-family: Arial, Helvetica, Sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

@media (max-width:900px) {
	img {
		max-width: 30%;
	}
}

.top-right-decoration {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
}

.top-left-decoration {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.title h1 {
	font-family: 'Brush Script MT', cursive;
	font-weight: normal;
	font-style: normal;
	font-size: 60px;
	margin: 32px 0;
	color: #53685a;
}

.title h2 {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-style: normal;
	margin: 0;
	padding: 0;
	font-size: 24px;
	color: #0b5324;
	line-height: 1;
}

.dance-med {
	font-family: 'Dancing Script', cursive;
	font-weight: bolder;
	font-style: normal;
	font-size: 32px;
	color: #674ea7;
	margin: 16px;
	margin-top: 24px;
	text-align: center;
}

.title h3 {
	font-weight: 300;
	text-transform: none;
	letter-spacing: 5px;
	font-size: 24px;
	color: #564861;
	margin-top: 5px;
}

.title p {
	color: #564861;
	margin: 30px 0 20px;
	text-transform: none;
	letter-spacing: 1px;
	font-size: 16px;
}

.wrap {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	/* padding: 20px; */
	text-align: center;
	/* min-height:100%; */
}


/** **/

* {
	/* margin: 0;
    padding: 0; */
	font-family: 'Arvo', serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh;
    width: 100%; */
	flex-direction: column;
}

.title {
	margin-bottom: 40px;
}

#time {
	width: auto;
	height: auto;
	padding: 10px;
	background-color: #eee;
	border-radius: 20px;
	font-size: 16px;
}

.venue {
	width: auto;
	height: auto;
	background-color: #674ea7;
	border-radius: 16px;
	text-align: center;
	color: #fff;
	padding: 8px;
	margin-right: 8px;
}

.venue a {
	text-decoration: none;
	color: #fff;
}

.container {
	/* display: grid;
	grid-template-columns: 1fr 1fr; */
	display: flex;
	border-radius: 5px;
	overflow: hidden;
	padding: 10px;
}

.block {
	/* width: 180px;
	height: 160px; */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	padding: 10px;
}

.days {
	background: linear-gradient(90deg, #b33a46, #9b313c);
}

.hours {
	background: linear-gradient(90deg, #a7c3cd, #90a9b2);
}

.minutes {
	background-color: #874562;
}

.seconds {
	background-color: #145689;
}

.date {
	color: #874562;
	font-weight: 900;
}

.place {
	color: #874562;
	font-weight: 900;
}

.footer {
	color: #564861;
	text-align: center;
	font-size: 16px;
	margin: 24px;
}

.phone {
	color: #874562
}

.end-msg {
	width: auto;
	height: auto;
	padding: 12px;
	background: linear-gradient(90deg, #b33a46, #9b313c);
	border-radius: 20px;
	font-size: 14px;
	color: #fff;
	font-size: 24px;
}

a {
	text-decoration: none;
}

.happiness {
	color: #874562;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 24px;
}

.twitter {
	color: #874562;
}

.music {
	display: none;
}

.actions {
	margin-top: 24px;
	display: flex;
	font-size: 12px;
	letter-spacing: 0pt;
}

.welcome .splash {
	height: 0px;
	padding: 0px;
	border: 130em solid #674ea7;
	position: fixed;
	left: 50%;
	top: 100%;
	display: block;
	box-sizing: initial;
	overflow: hidden;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	/* animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, */
  }

  .welcome .splash_active {
	border-radius: 50%;
	transform: translate(-50%, -50%);
	animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  }
  
  .welcome .welcome-tap {
	background: #874562 ;
	width: 50vh;
	height: 50vh;
	position: absolute;
	left: 50%;
	top: 50%;
	overflow: 1;
	opacity: 1;
    font-size: 300%;
	text-align: center;
	content-visibility: visible;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards;
  }

  .welcome-after-click {
	background: #874562 ;
	width: 50vh;
	height: 50vh;
	position: absolute;
	left: 50%;
	top: 50%;
	overflow: 1;
	opacity: 1;
	content-visibility: visible;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2s ease forwards;

  }

@keyframes pulse {
	0% {
	color: #051E3E;
	}
	10% {
		color: #051E3E;
	}
	30% {
		color: white;
	}
	50% {
		color: #051E3E;
	}
	60% {
		color: #051E3E;
	}
	80% {
		color: white;
	}
	100% {
		color: #051E3E;
	}
}

#tap {
	animation: pulse 5s infinite;
	margin-top: 40%;
	font: 40%;
	text-align: center; 
}

#tap:after {
	content: "";
	animation: spin 3s forwards;
}


@keyframes spin {
	0% { content:""; }
	100% { 
		content:"Click here to enter"; 
		font-size: 5vh;
	}
}
  
  @keyframes init {
	0% {
	  width: 0px;
	  height: 0px;
	  opacity: 1;
	}
	100% {
	  width: 50vh;
	  height: 50vh;
	  margin-top: 0px;
	  opacity: 1;
	}
  }
  
  @keyframes puff {
	0% {
	  top: 100%;
	  height: 0px;
	  padding: 0px;
	}
	100% {
	  top: 50%;
	  height: 100%;
	  padding: 0px 100%;
	}
  }
  
  @keyframes borderRadius {
	0% {
	  border-radius: 50%;
	}
	100% {
	  border-radius: 0px;
	}
  }
  
  @keyframes moveDown {
	0% {
	  top: 50%;
	}
	50% {
	  top: 40%;
	}
	100% {
	  top: 100%;
	}
  }
  
  @keyframes moveUp {
	0% {
	  background: #874562;
	  top: 100%;
	}
	50% {
	  top: 40%;
	}
	100% {
	  top: 50%;
	}
  }
  
  
  @keyframes moveIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @keyframes hide {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  } 
